@use "../../global" as g;

/*!
page > contact
------------------------------
*/
.p-contact {
  padding-block: 80px calc(80px + 32px);

  @include g.mq(lg) {
    padding-block: 120px calc(120px + 56px);
  }
}

.p-contact__lead {
}

.p-contact-form {
  display: grid;
  gap: 24px;
  margin-top: 40px;

  @include g.mq() {
    gap: 32px;
  }
}

.p-contact-form__group {
  display: grid;
  gap: 8px;

  @include g.mq() {
    grid-template-columns: minmax(200px, 1fr) 4fr;
    gap: 16px;
  }
}

.p-contact-form__label {
  font-weight: bold;
  line-height: 1.5;

  @include g.mq() {
    margin-top: 16px;
  }
}

.p-contact-form__required {
  margin-left: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #c82b2b;
}

.p-contact-form__input {
}

.p-contact-form__textarea {
  min-height: 120px;
  padding: 16px;
  line-height: 1.5;
  background: var(--color-bg-lightest-blue);
  border-radius: 4px;

  @include g.mq() {
    min-height: 160px;
  }
}

.p-contact-form__input,
.p-contact-form__textarea {
  width: 100%;
  padding: 16px;
  line-height: 1.5;
  background: var(--color-bg-lightest-blue);
  border-radius: 4px;

  @include g.mq() {
    padding: 16px 24px;
  }

  &::placeholder {
    color: var(--color-font-base);
    opacity: 0.6;
  }
  &:focus {
    outline: 2px solid var(--color-bg-accent);
    box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.15);
    transition:
      outline 0.2s,
      box-shadow 0.2s;
  }
}

.p-contact-form__privacy {
  margin-top: 48px;
  text-align: center;

  @include g.mq() {
    margin-top: 80px;
  }

  a {
    color: var(--color-font-primary);
    text-decoration: underline;
    text-underline-offset: 2px;
  }
}

.p-contact-form__submit {
  min-width: 320px;
  padding: 24px 32px;
  margin-inline: auto;
  margin-top: 24px;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  letter-spacing: 0.05em;
  background: var(--color-bg-base);
  border-radius: 9999px;
}

.wpcf7-spinner {
  display: block !important;
  margin: 0 auto !important;
}

.wpcf7-not-valid-tip {
  font-weight: bold !important;
  color: #c82b2b !important;
}

.wpcf7-response-output {
  font-weight: bold !important;
  color: #c82b2b !important;
  text-align: center !important;
  background-color: #fddede !important;
  border-color: #c44444 !important;
}
