@use "../global" as g;

/*!
utility > utility
------------------------------
*/
.u-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
}

.u-py {
  padding-block: 80px 160px;

  @include g.mq() {
    padding-block: 120px 240px;
  }
}
