@use "../../global" as g;

/*!
page > business > business-problem
------------------------------
*/
.p-business-problem__title {
  display: flex;
  flex-direction: column;
}

.p-business-problem__title-en {
  font-family: var(--font-family-en);
  font-size: 16px;
  line-height: 1.18;
  color: var(--color-font-primary);

  @include g.mq() {
    font-size: 20px;
  }
}

.p-business-problem__title-ja {
  font-size: 24px;
  line-height: 1.45;

  @include g.mq() {
    font-size: 32px;
  }
}

.p-business-problem__lead {
  margin-top: 16px;
  font-size: 16px;

  @include g.mq() {
    margin-top: 24px;
  }
}

.p-business-problem__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px 20px;
  margin-top: 24px;
  background: var(--color-bg-lightest-blue);

  @include g.mq() {
    padding: 48px 40px;
  }
}

.p-business-problem__item {
  display: flex;
  gap: 16px;
  align-items: start;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: 0.05em;

  @include g.mq() {
    font-size: 18px;
    line-height: 1.6;
  }

  &::before {
    display: inline-block;
    flex-shrink: 0;
    width: 21px;
    aspect-ratio: 1;
    content: "";
    background-image: url("../images/common/icon_check.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @include g.mq() {
      width: 27px;
    }
  }
}
