@use "../../global" as g;

/*!
page > access
------------------------------
*/
.p-access {
  padding-block: 80px;

  @include g.mq(lg) {
    padding-block: 120px;
  }
}

.p-access__office-wrap {
  display: grid;
  gap: 40px;

  @include g.mq() {
    grid-template-columns: 1fr 1fr;
    row-gap: 72px;
  }
}

.p-access__office-item {
  &:first-child {
    @include g.mq() {
      grid-column: 1 / 3;
    }
  }

  &:not(:last-child) {
    &::after {
      display: block;
      width: 100%;
      height: 1px;
      margin-top: 40px;
      content: "";
      background-color: #333333;
      opacity: 0.1;

      @include g.mq() {
        display: none;
      }
    }
  }
}

.p-access__office-contents {
  @include g.mq() {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .p-access__office-item:first-child & {
    @include g.mq() {
      flex-direction: row;
    }
  }
}

.p-access__office-title {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.05em;

  @include g.mq() {
    font-size: 24px;
  }
}

.p-access__office-address {
  margin-top: 8px;
}

.p-access__office-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 200px;
  padding: 16px 24px;
  margin-top: 16px;
  font-family: var(--font-family-en);
  font-size: 16px;
  line-height: 1;
  background: var(--color-bg-lightest-blue);
  border-radius: 9999px;

  .p-access__office-item:first-child & {
    @include g.mq() {
      flex: 1;
      margin-top: auto;
    }
  }

  &::after {
    display: inline-block;
    width: 7px;
    height: 8px;
    content: "";
    background: var(--color-bg-base);
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
  }

  @media (any-hover: hover) {
    transition: all 0.3s;

    &:hover {
      color: var(--color-bg-white);
      background: var(--color-bg-base);

      &::after {
        background: var(--color-bg-white);
      }
    }
  }
}

.p-access__office-map {
  margin-top: 16px;

  @include g.mq() {
    margin-top: 24px;
  }

  iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 340 / 226;
    vertical-align: bottom;
    border-radius: 0 0 0 32px;

    @include g.mq() {
      aspect-ratio: 480 / 320;
      border-radius: 0 0 0 56px;
    }

    .p-access__office-item:first-child & {
      @include g.mq() {
        aspect-ratio: 1000 / 408;
      }
    }
  }
}
