@use "../../global" as g;

/*!
page > product
------------------------------
*/
.p-product {
  padding-block: 80px;

  @include g.mq() {
    padding-block: 120px;
  }
}

.p-product__wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;

  @include g.mq() {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }

  @include g.mq(lg) {
    gap: 64px;
  }
}

.p-product__block {
}

.p-product__article {
}

.p-product__article {
}

.p-product__amount {
  aspect-ratio: 160 / 106;
  overflow: hidden;
  border: 1px solid #dcdcdc;
  border-radius: 0 0 0 24px;

  @include g.mq() {
    aspect-ratio: 404 / 269;
    border-radius: 0 0 0 32px;
  }
}

.p-product__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-product__content {
  margin-top: 8px;

  @include g.mq() {
    margin-top: 10px;
  }

  @include g.mq(lg) {
    margin-top: 16px;
  }
}

.p-product__category {
  display: inline-block;
  padding: 4px 8px;
  font-size: 13px;
  line-height: 1;
  border: 1px solid var(--color-font-base);
  border-radius: 9999px;

  @include g.mq() {
    font-size: 14px;
  }

  @include g.mq(lg) {
    font-size: 16px;
  }
}

.p-product__title {
  margin-top: 4px;
  font-size: 15px;
  line-height: 1.5;

  @include g.mq() {
    margin-top: 6px;
    font-size: 16px;
  }

  @include g.mq(lg) {
    margin-top: 8px;
    font-size: 20px;
  }
}

@media (any-hover: hover) {
  .p-product__image {
    transition: scale 0.3s;

    .p-product__link:hover & {
      scale: 1.05;
    }
  }
}
