@use "../../global" as g;

/*!
page > product-detail
------------------------------
*/
.p-product-detail {
  padding-block: 80px;

  @include g.mq() {
    padding-block: 120px;
  }
}

.p-product-detail-gallery {
  text-align: center;
}

.p-product-detail-gallery__main {
  position: relative;
  width: 100%;
  aspect-ratio: 340 / 227;
  overflow: hidden;
  border: 1px solid #dadada;
  border-radius: 0 0 0 56px;

  @include g.mq() {
    aspect-ratio: 2 / 1;
  }
}

.p-product-detail-gallery__image {
  position: absolute;
  inset: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.6s ease;

  &.is-active {
    z-index: 1;
    opacity: 1;
  }
}

.p-product-detail-gallery__thumbs {
  display: flex;
  gap: 8px;
  justify-content: end;
  margin-top: 16px;

  @include g.mq() {
    gap: 16px;
    margin-top: 24px;
  }
}

.p-product-detail-gallery__thumb-wrapper {
  &.is-hidden {
    display: none;
  }
}

.p-product-detail-gallery__thumb {
  width: 72px;
  aspect-ratio: 1;
  cursor: pointer;
  object-fit: cover;
  border: 1px solid #dadada;
  opacity: 0.7;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;

  @include g.mq() {
    width: 104px;
  }

  &:hover {
    opacity: 1;
    transform: scale(1.05);
  }
}

.p-product-detail-table {
  width: 100%;
  margin-top: 56px;
  border-top: 1px solid var(--color-bg-light-grey);
}

.p-product-detail-table__row {
  display: flex;
  flex-direction: column;
  padding-block: 24px;
  border-bottom: 1px solid var(--color-bg-light-grey);

  @include g.mq() {
    flex-direction: row;
    padding-block: 32px;
  }
}

.p-product-detail-table__th {
  font-weight: bold;

  @include g.mq() {
    width: 224px;
  }
}

.p-product-detail-table__td {
  display: flex;
  gap: 4px;
}

.p-product-detail-table__body {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
