/*!
global > color
------------------------------
*/
:root {
  --color-font-base: #49515f;
  --color-font-light-base: #9a9eac;
  --color-font-primary: #1e4aa4;
  --color-font-white: #ffffff;
  --color-bg-base: #1e4aa4;
  --color-bg-darkblue: #222a38;
  --color-bg-cta: linear-gradient(to bottom, #1863b8, #1d58a9);
  --color-bg-lightest-blue: #f5f8fb;
  --color-bg-light-grey: #eaecef;
  --color-bg-white: #ffffff;
  --color-link: #497fdf;
}

/*!
global > content-width
------------------------------
*/
:root {
  --width-content-sm: 1000px;
  --width-content-md: 1300px;
}

/*!
global > font
------------------------------
*/
:root {
  --font-family-en: "Play", sans-serif;
  --font-family-base: "Zen Kaku Gothic New", sans-serif;
}

/*!
global > z-index
------------------------------
*/
:root {
  --z-index-modal: 100;
  --z-index-header: 30;
  --z-index-header-button: 40;
  --z-index-menu: 10;
  --z-index-default: 1;
  --z-index-negative: -1;
}

/*!
foundation > reset
------------------------------
*/
html {
  color: #000;
  background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  font-variant: normal;
  border: 0;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  -webkit-appearance: none;
  appearance: none;
  background-color: inherit;
  border: none;
  border-radius: 0;
}

textarea {
  display: block;
  resize: vertical;
}

select {
  cursor: pointer;
}

button {
  padding: 0;
  cursor: pointer;
}

legend {
  color: inherit;
}

tbody {
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
svg {
  display: block;
  width: 100%;
  height: auto;
}

dialog {
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  color: inherit;
  border: none;
}

iframe {
  vertical-align: bottom;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

/*!
foundation > base
------------------------------
*/
body {
  height: 100vh;
  font-family: var(--font-family-base);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.9;
  color: var(--color-font-base);
}
@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

/*!
editor-style
------------------------------
*/

.wp-block-post-content > *:not(:first-child) {
  margin-top: 16px;
}

h1 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 768px) {
  h1 {
    gap: 16px;
    font-size: clamp(1.5rem, 0.0714285714rem + 2.9761904762vw, 2.75rem);
  }
}

h2 {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  counter-reset: section;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 20px;
  }
}

strong {
  font-weight: bold;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
ul li {
  margin-left: 0!important;
  font-weight: bold;
}
ul li > *{
  display: inline-block;
}
ul li::before {
  display: inline-block;
  width: 8px;
  aspect-ratio: 1;
  margin-right: 12px;
  content: "";
  background: var(--color-font-primary);
  border-radius: 50%;
}

ol {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
ol li {
  margin-left: 0!important;
  font-weight: bold;
}
ol li > *{
  display: inline-block;
}
ol li::before {
  width: auto;
  aspect-ratio: auto;
  margin-right: 8px;
  font-family: var(--font-family-en);
  font-size: 20px;
  font-weight: 400;
  color: var(--color-font-primary);
  content: counter(section, decimal-leading-zero) ". ";
  counter-increment: section;
  background: none;
  border-radius: auto;
}

a {
  color: var(--color-link);
  text-decoration: underline;
}
