@use "../global" as g;

/*!
page > common > common-contact
------------------------------
*/
.c-contact {
  position: relative;
  height: 418px;
  background: var(--color-bg-lightest-blue);
  border-radius: 32px 32px 0 0;

  @include g.mq() {
    height: 580px;
    border-radius: 56px 56px 0 0;
  }
}

.c-contact__bg {
  position: absolute;
  top: 140px;
  width: 100%;
  overflow: hidden;

  @include g.mq() {
    top: 180px;
  }
}

.c-contact-bgtxt__slide {
  font-family: var(--font-family-en);
  line-height: 1;
  color: var(--color-font-primary);
  white-space: nowrap;
  user-select: none;
  opacity: 0.07;
}

.c-contact .c-contact-bgtxt__slide {
  font-size: 120px;
  line-height: 1;

  @include g.mq() {
    font-size: 176px;
  }
}

.c-contact__button-wrap {
  width: fit-content;
  padding-top: 102px;
  margin-inline: auto;

  @include g.mq() {
    padding-top: 144px;
  }
}

.c-contact-button {
  --contact-button-w: 218px;
  --contact-button-pulse: calc(var(--contact-button-w) + 24px);

  position: relative;
  display: inline-flex;

  @include g.mq() {
    --contact-button-w: 280px;
    --contact-button-pulse: calc(var(--contact-button-w) + 28px);
  }

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: var(--contact-button-pulse);
    aspect-ratio: 1;
    content: "";
    border: 1px solid var(--color-font-primary);
    border-radius: 50%;
    translate: -50% -50%;
  }
}

.c-contact-button__link {
  position: relative;
  display: inline-block;
  width: var(--contact-button-w);
  aspect-ratio: 1;
  overflow: hidden;
  color: var(--color-font-white);
  background: var(--color-bg-cta);
  border-radius: 50%;
  clip-path: circle(50% at 50% 50%);

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    width: 0;
    height: 0;
    content: "";
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: 1s;
  }
}

.c-contact-button__text {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);

  @include g.mq() {
    gap: 16px;
  }
}

.c-contact-button__text-en {
  font-family: var(--font-family-en);
  font-size: 32px;
  line-height: 1.5;

  @include g.mq() {
    font-size: 40px;
  }
}

.c-contact-button__text-ja {
  line-height: 1.5;
}

@media (any-hover: hover) {
  .c-contact-button__link {
    &:hover {
      transition: all 0.5s ease-out;

      &::before {
        width: calc(var(--contact-button-w) + 40px);
        aspect-ratio: 1;
        opacity: 0.4;
        transition: all 0.5s ease-out;
      }

      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -2;
        width: 0;
        height: 0;
        content: "";
        background-color: rgb(29, 29, 29);
        border-radius: 50%;
        transform: translate(-50%, -50%);
        animation: contact-button-pulse 2s infinite;
      }
    }
  }
}

@keyframes contact-button-pulse {
  0% {
    width: 0;
    height: 0;
    opacity: 0.5;
  }

  100% {
    width: var(--contact-button-pulse);
    height: var(--contact-button-pulse);
    opacity: 0;
  }
}
