@use "../global" as g;

/*!
component > crumbs
------------------------------
*/
.c-crumbs {
  margin-top: 16px;

  @include g.mq() {
    margin-top: 30px;
  }
}

.c-crumbs__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 16px;
  font-size: 14px;
  line-height: 1.4;

  @include g.mq() {
    margin-right: g.clamp-vw(300, 484, 768, 1440);
  }
}

.c-crumbs__list--home {
  font-family: var(--font-family-en);
}

.c-crumbs__link {
  @media (any-hover: hover) {
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.6;
    }
  }
}

.c-crumbs__item {
  display: flex;
  gap: 16px;
  align-items: center;

  &:not(:last-child)::after {
    display: inline-block;
    width: 7px;
    height: 8px;
    content: "";
    background-color: var(--color-bg-base);
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
  }
}

.c-crumbs__text {
  color: var(--color-font-primary);
}
