/*!
global > color
------------------------------
*/
:root {
  --color-font-base: #49515f;
  --color-font-light-base: #9a9eac;
  --color-font-primary: #1e4aa4;
  --color-font-white: #ffffff;

  --color-bg-base: #1e4aa4;
  --color-bg-darkblue: #222a38;
  --color-bg-cta: linear-gradient(to bottom, #1863b8, #1d58a9);
  --color-bg-lightest-blue: #f5f8fb;
  --color-bg-light-grey: #eaecef;
  --color-bg-white: #ffffff;

  --color-link: #497fdf;
}
