/*!
global > z-index
------------------------------
*/
:root {
  --z-index-modal: 100;
  --z-index-header: 30;
  --z-index-header-button: 40;
  --z-index-menu: 10;
  --z-index-default: 1;
  --z-index-negative: -1;
}
