@use "../../global" as g;

/*!
page > top > top-news
------------------------------
*/

.p-top-news {
  margin-top: -32px;
  overflow: hidden;
}

.p-top-news__container {
  position: relative;
  z-index: var(--z-index-default);
  padding: 64px 20px;

  @include g.mq() {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 40px;
    padding: 48px 56px;
  }

  @include g.mq(lg) {
    gap: 80px;
    padding: 64px 80px;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: var(--z-index-negative);
    width: 100vw;
    height: 100%;
    content: "";
    background: var(--color-bg-white);
    border-radius: 32px 0 0 0;

    @include g.mq() {
      border-radius: 56px 0 0 0;
    }
  }
}

.p-top-news__heading {
  display: grid;
  gap: 8px;

  @include g.mq() {
    height: fit-content;
  }
}

.p-top-news__heading-en {
  font-family: var(--font-family-en);
  font-size: 40px;
  line-height: 1;
  color: var(--color-bg-base);
}

.p-top-news__heading-ja {
  color: var(--color-font-light-base);
}

.p-top-news__wrap {
  margin-top: 40px;

  @include g.mq() {
    grid-row: 1 / 3;
    margin-top: 0;
  }
}

.p-top-news__item {
  border-bottom: 1px solid var(--color-bg-light-grey);

  &:first-child {
    border-top: 1px solid var(--color-bg-light-grey);
  }
}

.p-top-news__article {
  display: block;
  padding: 20px 16px;

  @include g.mq(lg) {
    padding: 32px 16px;
  }

  @media (any-hover: hover) {
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.6;
    }
  }
}

.p-top-news__link {
  display: grid;
  gap: 8px;

  @include g.mq(lg) {
    grid-template-columns: 120px 1fr;
    gap: 16px;
    align-items: center;
  }
}

.p-top-news__date {
  font-family: var(--font-family-en);
  font-size: 17px;
  line-height: 1;
}

.p-top-news__more {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 200px;
  padding: 16px 24px;
  margin-top: 40px;
  margin-left: auto;
  font-family: var(--font-family-en);
  font-size: 16px;
  line-height: 1;
  background: var(--color-bg-lightest-blue);
  border-radius: 9999px;

  @include g.mq() {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    align-self: end;
    width: 100%;
    height: fit-content;
    margin-top: 0;
  }

  &::after {
    display: inline-block;
    width: 7px;
    height: 8px;
    content: "";
    background: var(--color-bg-base);
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
  }

  @media (any-hover: hover) {
    transition: all 0.3s;

    &:hover {
      color: var(--color-bg-white);
      background: var(--color-bg-base);

      &::after {
        background: var(--color-bg-white);
      }
    }
  }
}
