@use "../../global" as g;

/*!
page > top > top-business
------------------------------
*/
.p-top-business {
  position: relative;
  padding-bottom: 80px;
  overflow: hidden;

  @include g.mq() {
    padding-bottom: 120px;
    margin-top: 80px;
  }

  @include g.mq(lg) {
    padding-bottom: 144px;
    margin-top: 120px;
  }

  &::before {
    position: absolute;
    right: -250px;
    bottom: -30px;
    font-family: var(--font-family-en);
    font-size: 120px;
    line-height: 1;
    content: "BUSINESS";
    opacity: 0.03;

    @include g.mq() {
      right: -250px;
      bottom: -50px;
      font-size: 180px;
    }

    @include g.mq(lg) {
      right: -291px;
      bottom: -75px;
      font-size: 240px;
    }
  }
}

.p-top-business__container {
  display: grid;

  @include g.mq() {
    grid-template-columns: 45% 1fr;
    gap: 40px;
  }

  @include g.mq(lg) {
    gap: 56px;
  }
}

.p-top-business__figure {
  aspect-ratio: 340 / 227;
  overflow: hidden;
  border-radius: 0 0 0 32px;

  @include g.mq() {
    aspect-ratio: 580 / 600;
  }

  @include g.mq(lg) {
    grid-row: 1 / 3;
    border-radius: 0 0 0 56px;
  }
}

.p-top-business__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-top-business__labels {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 56px;
  line-height: 1.25;

  @include g.mq() {
    margin-top: 0;
  }
}

.p-top-business__label-en {
  font-family: var(--font-family-en);
  font-size: 20px;
  color: var(--color-font-primary);
}

.p-top-business__label-ja {
  font-size: 15px;
  color: var(--color-font-light-base);
}

.p-top-business__heading {
  margin-top: 8px;
  font-size: 28px;
  line-height: 1.5;

  @include g.mq(lg) {
    margin-top: 16px;
    font-size: 32px;
  }

  > span {
    display: block;

    @include g.mq(lg) {
      display: inline-block;
    }

    &:nth-child(3) {
      display: block;
    }
  }
}

.p-top-business__lead {
  margin-top: 24px;

  @include g.mq(lg) {
    margin-top: 40px;
  }
}

.p-top-business__list {
  display: grid;
  margin-top: 48px;

  @include g.mq() {
    grid-column: 1 / 3;
    margin-top: 0;
  }

  @include g.mq(lg) {
    grid-column: 2 / 3;
  }
}

.p-top-business__item {
  border-bottom: 1px solid var(--color-bg-light-grey);

  &:first-child {
    border-top: 1px solid var(--color-bg-light-grey);
  }
}

.p-top-business__link {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 16px;
  align-items: center;
  padding: 16px;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.05em;

  @include g.mq(lg) {
    padding: 24px 16px;
    font-size: 20px;
  }

  @media (any-hover: hover) {
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.6;
    }
  }
}

.p-top-business__link-arrow {
  position: relative;
  width: 40px;
  aspect-ratio: 1;
  content: "";
  background: var(--color-bg-lightest-blue);
  border-radius: 50%;

  @include g.mq(lg) {
    width: 44px;
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 9px;
    height: 10px;
    content: "";
    background: var(--color-bg-base);
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
    transform: translate(calc(-50% + 1px), -50%);
  }
}
