@use "../../global" as g;

/*!
page > top > top-info
------------------------------
*/
.p-top-info__list {
  display: grid;
  gap: 64px;
  padding-block: 48px 80px;

  @include g.mq() {
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    padding-block: 80px;
  }

  @include g.mq(lg) {
    gap: 92px;
  }
}

.p-top-info__item {
  position: relative;

  @include g.mq() {
    display: flex;
  }

  &::after {
    position: absolute;
    bottom: -32px;
    display: block;
    width: 100%;
    height: 1px;
    content: "";
    background: var(--color-bg-light-grey);

    @include g.mq() {
      right: -40px;
      bottom: 0;
      width: 1px;
      height: 100%;
    }

    @include g.mq(lg) {
      right: -46px;
    }
  }

  &:last-child {
    &::after {
      display: none;
    }
  }
}

.p-top-info__link {
  display: block;
  padding-inline: 16px;

  @include g.mq() {
    padding-block: 16px;
    padding-inline: 0;
  }

  @media (any-hover: hover) {
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.6;
    }
  }
}

.p-top-info__title {
  display: grid;
  gap: 8px;
}

.p-top-info__title-en {
  font-family: var(--font-family-en);
  font-size: 40px;
  line-height: 1;
  color: var(--color-bg-base);
}

.p-top-info__title-ja {
  font-size: 15px;
  line-height: 1;
  color: var(--color-font-light-base);
}

.p-top-info__description {
  margin-top: 16px;

  @include g.mq() {
    margin-top: 32px;
  }
}

.p-top-info__arrow {
  position: relative;
  display: block;
  width: 36px;
  aspect-ratio: 1;
  margin-top: 16px;
  margin-left: auto;
  content: "";
  background: var(--color-bg-lightest-blue);
  border-radius: 50%;

  @include g.mq() {
    margin-top: 32px;
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 8px;
    height: 9px;
    content: "";
    background: var(--color-bg-base);
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
    transform: translate(calc(-50% + 1px), -50%);
  }
}
